{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.feature",
      "options": {
        "parser": "gherkin",
        "printWidth": 80
      }
    }
  ]
}
